body {
  font-family: "Varela Round";
}

.title {
  font-size: 100px;
}

.description {
  background-color: gray;
  margin: 20px auto;
  color: white;
  width: 510px;
  border-radius: 5px;
}

.container {
  text-align: center;
}

.tile {
  /*float: left;*/
  display: inline-block;
  border: 1px solid black;
  vertical-align: top;
  text-align: center;
  height: 125px;
  width: 125px;
  font-size: 50px;
  background-color: lightgray;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.tile-row {
  width: 100%;
}

.row-container {
  border: 5px solid gray;
  border-radius: 5px;
  width: 510px;
  margin: 0 auto;
}

.one {
  background-color: #69D2E7;
}

.two {
  background-color: #A7DBD8;
}

.four {
  background-color: #E0E4CC;
}

.eight {
  background-color: #F38630;
}

.sixteen {
  background-color: #FA6900;
}

.thirty-two {

}

.show-messages {
  display: block;
  border: 5px solid gray;
  border-radius: 5px;
  width: 510px;
  margin: 20px auto;
}

.hide-messages {
  display: none;
}