body {
  font-family: "Varela Round";
}

.title {
  font-size: 100px;
}

.description {
  background-color: gray;
  margin: 20px auto;
  color: white;
  width: 510px;
  border-radius: 5px;
}

.container {
  text-align: center;
  margin-bottom: 20px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.tile-row {
  width: 100%;
}

.hide {
  display: none;
}

.row-container {
  border: 5px solid gray;
  border-radius: 5px;
  width: 510px;
  margin: 0 auto;
}

.tile.one {
  background-color: #69D2E7;
}

.tile.two {
  background-color: #A7DBD8;
}

.tile.four {
  background-color: #E0E4CC;
}

.tile.eight {
  background-color: #F38630;
}

.tile.sixteen {
  background-color: #FA6900;
}

.show-messages {
  display: block;
  border: 5px solid gray;
  border-radius: 5px;
  width: 510px;
  margin: 20px auto;
}

.hide-messages {
  display: none;
}

#grid {
  width: 510px;
  height: 510px;
  border: 5px solid gray;
  border-radius: 5px;
  position: relative;
  margin: 0 auto;
}

.tile {
  /*float: left;*/
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  border: 1px solid black;
  vertical-align: top;
  text-align: center;
  height: 125px;
  width: 125px;
  font-size: 45px;
  background-color: lightgray;
  transition: all 100ms ease;
}

.tile > p {
  transform: translateY(25px);
}

.tile:hover {
  opacity: 0.8;
}

.tile.tile-0-0 {
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.tile.tile-0-1 {
  -webkit-transform: translate(125px, 0px);
  -moz-transform: translate(125px, 0px);
  -ms-transform: translate(125px, 0px);
  transform: translate(125px, 0px); 
}

.tile.tile-0-2 {
  -webkit-transform: translate(250px, 0px);
  -moz-transform: translate(250px, 0px);
  -ms-transform: translate(250px, 0px);
  transform: translate(250px, 0px); 
}

.tile.tile-0-3 {
  -webkit-transform: translate(375px, 0px);
  -moz-transform: translate(375px, 0px);
  -ms-transform: translate(375px, 0px);
  transform: translate(375px, 0px); 
}

.tile.tile-1-0 {
  -webkit-transform: translate(0px, 125px);
  -moz-transform: translate(0px, 125px);
  -ms-transform: translate(0px, 125px);
  transform: translate(0px, 125px);
}

.tile.tile-1-1 {
  -webkit-transform: translate(125px, 125px);
  -moz-transform: translate(125px, 125px);
  -ms-transform: translate(125px, 125px);
  transform: translate(125px, 125px); 
}

.tile.tile-1-2 {
  -webkit-transform: translate(250px, 125px);
  -moz-transform: translate(250px, 125px);
  -ms-transform: translate(250px, 125px);
  transform: translate(250px, 125px); 
}

.tile.tile-1-3 {
  -webkit-transform: translate(375px, 125px);
  -moz-transform: translate(375px, 125px);
  -ms-transform: translate(375px, 125px);
  transform: translate(375px, 125px); 
}

.tile.tile-2-0 {
  -webkit-transform: translate(0px, 250px);
  -moz-transform: translate(0px, 250px);
  -ms-transform: translate(0px, 250px);
  transform: translate(0px, 250px);
}

.tile.tile-2-1 {
  -webkit-transform: translate(125px, 250px);
  -moz-transform: translate(125px, 250px);
  -ms-transform: translate(125px, 250px);
  transform: translate(125px, 250px); 
}

.tile.tile-2-2 {
  -webkit-transform: translate(250px, 250px);
  -moz-transform: translate(250px, 250px);
  -ms-transform: translate(250px, 250px);
  transform: translate(250px, 250px); 
}

.tile.tile-2-3 {
  -webkit-transform: translate(375px, 250px);
  -moz-transform: translate(375px, 250px);
  -ms-transform: translate(375px, 250px);
  transform: translate(375px, 250px); 
}

.tile.tile-3-0 {
  -webkit-transform: translate(0px, 375px);
  -moz-transform: translate(0px, 375px);
  -ms-transform: translate(0px, 375px);
  transform: translate(0px, 375px);
}

.tile.tile-3-1 {
  -webkit-transform: translate(125px, 375px);
  -moz-transform: translate(125px, 375px);
  -ms-transform: translate(125px, 375px);
  transform: translate(125px, 375px); 
}

.tile.tile-3-2 {
  -webkit-transform: translate(250px, 375px);
  -moz-transform: translate(250px, 375px);
  -ms-transform: translate(250px, 375px);
  transform: translate(250px, 375px); 
}

.tile.tile-3-3 {
  -webkit-transform: translate(375px, 375px);
  -moz-transform: translate(375px, 375px);
  -ms-transform: translate(375px, 375px);
  transform: translate(375px, 375px); 
}

.tile-merged {
  -webkit-animation: pop 0.2s ease 0.1s;
  -moz-animation: pop 0.2s ease 0.1s;
  animation: pop 0.2s ease 0.1s;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }
}
.tile-new {
 -webkit-animation: appear 0.2s ease 0.1s;
  -moz-animation: appear 0.2s ease 0.1s;
  animation: appear 0.2s ease 0.1s;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}